body {
    background-color: rgb(55, 65, 73);
}

#canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.pixel {
    width: 15px;
    height: 15px;
}

.interior {
    width: 15px;
    height: 15px;
    fill: white;
    stroke: #646464;
    overflow: visible;
}

#toolbox {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#toolboxheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
